/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	width: 100%;
	height: auto;
	display: block;
}
* {
	box-sizing: border-box;
}
/* end/ RESET */

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Bitter:400,700|Open+Sans:400,400i,700,700i');
/* end/ Fonts */

html, body {
	width: 100%;
	height: 100%;
	background-color: #f4f4f4;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
}

p {
	margin-bottom: .5em;
}

a {
	color: gold;
	-webkit-transition: background-color .3s, color .3s;
	transition: background-color .3s, color .3s;
}
	a:hover {
		color: red;
	}

h1, h2, h3 {
	font-family: "Bitter", serif;
	line-height: 1.25em;
	color: #485971;
}

.cta-red, .cta-blue {
	font-family: "Bitter", serif;
	font-weight: 400;
	font-size: 1.25em;
	display: inline-block;
	line-height: 1.15em;
	color: #fff;
	background-color: #cf5d5d;
	padding: .75em 2em;
	margin-bottom: .25em;
	text-transform: uppercase;
	text-shadow: 0 1px 2px rgba(58,23,23,.24);
}
.cta-blue {
	background-color: #34708b;
	text-shadow: 0 1px 2px rgba(25,52,64,.24);
}

.vcb-logo-part-1 {
	fill: #ebebeb;
}
.vcb-logo-part-2 {
	fill: #aaa;
}
.vcb-logo-part-3 {
	fill: #fff;
}

/* Menu */
nav {
	width: 100%;
	display: table;
	position: fixed;
	z-index: 50;
	background-color: rgba(255,255,255,.2);
}
	#nav-logo {
		width: 20%;
		max-width: 70px;
		padding: 8px;
		float: left;
	}
	#nav-links {
		padding-top: 2.1em;
		float: right;
	}
		#nav-links ul {

		}
			#nav-links ul li {
				display: inline-block;
			}
		#nav-links a {
			color: #777;
			text-transform: uppercase;
			padding: .3em 1em;
		}
			#nav-links a:hover {
				color: red;
			}

/* Home Hero */
header {
	height: 80vh;
	position: relative;
	background-size: cover;
	background-position: center center;
}
	.hero-bottom-cover {
		width: 100%;
		display: block;
		position: absolute;
		bottom: -1px;
	}

/* Section : things I do */
#things-i-do {
	width: 94%;
	max-width: 960px;
	margin: 0 auto;
	padding-top: 4em;
}
	.section-intro {
		width: 75%;
		margin: 0 auto;
		background-color: #ddd;
		padding: 6% 0 6% 16%;
		background: url("assets/images/title-things-i-do.png") no-repeat 5% center;
	}
	.main-services {
		width: 100%;
		margin-bottom: 4em;
	}
		.a-service {
			display: inline-block;
			width: 24%;
			padding: 0 2%;
			text-align: center;
		}
			.a-service-thumb {
				width: 50%;
				margin: 0 auto 1em;
			}
	.secondary-services {
		width: 94%;
		max-width: 640px;
		margin: 0 auto;
		text-align: center;
	}
		.sec-service {
			display: inline-block;
			width: 24%;
			padding: 0 2%;
			margin-bottom: 1.5em;
		}
			.sec-service-thumb {
				width: 50%;
				margin: 0 auto 1em;
			}
	.a-service h2 {
		font-size: 1.25em;
		margin-bottom: .25em;
	}
	.sec-service h2 {
		font-size: 1.1em;
	}

#portfolio {
	width: 94%;
	max-width: 960px;
	margin: 4em auto 0;
	padding-top: 4em;
}
	.portfolio-button {
		width: 100%;
		text-align: center;
		margin-top: 2.5em;
	}
		.portfolio-button a {
			color: #fff;
			display: inline-block;
		}
	.portfolio-clients {
		width: 94%;
		max-width: 880px;
		margin: 3em auto 0;
		text-align: center;
	}
		.portfolio-clients-intro {
			width: 75%;
			margin: 0 auto 2em;
		}
		.portfolio-logos {
			width: 90%;
			max-width: 800px;
			margin: 0 auto;
		}
			.portfolio-clients-thumb {
				width: 14%;
				margin: .5%;
				border: 1px solid #ddd;
				padding: 12px;
				display: inline-block;
			}
				.portfolio-clients-thumb img {
					opacity: .5;
					-webkit-transition: .3s;
					transition: .3s;
				}
					.portfolio-clients-thumb:hover img {
						opacity: 1;
					}

/* Portfolio Slider */
#portfolio-slider {
	width: 96%;
	max-width: 960px;
	margin: 0 auto;
	background: url("assets/images/title-portfolio.png") no-repeat 5% center;
}
	#slider-wrap {
		width: 96%;
		max-width: 740px;
		margin: 0 auto;
		overflow: hidden;
	}
		#slider-wrap ul {
			width: 500%;
		}
			#slider-wrap ul li {
				display: table;
				width: 20%;
				float: left;
			}
				#slider-wrap ul li .slider-thumb {
					width: 60%;
					float: left;
					clear: left;
				}
				#slider-wrap ul li .slider-content {
					width: 40%;
					float: right;
					clear: right;
				}
	#slider-pagination {
		width: 100%;
		display: block;
		text-align: center;
	}
		#slider-pagination a {
			width: 25px;
			height: 25px;
			display: inline-block;
			cursor: pointer;
			background-color: #e7ebee;
			margin: 2em .1em 0;
			border-radius: 50%;
		}
			#slider-pagination a:hover {
				background-color: #bdc4d3;
			}
			#slider-pagination a.pag-selected {
				cursor: default;
				background-color: #8891a5;
			}

/* end/ Portfolio Slider */

#about-me {
	width: 94%;
	max-width: 620px;
	margin: 11em auto 0;
}
	.about-intro {
		display: block;
		margin: 0 auto 6em;
		position: relative;
	}
		.about-logo {
			width: 56px;
			height: 56px;
			padding: 10px;
			border-radius: 50%;
			background-color: #f4f4f4;
			border: 1px solid #fff;
			box-shadow: 0 4px 3px rgba(0,0,0,0.14);
			position: absolute;
			top: -68px;
			left: calc( 50% - 28px );
			z-index: 10;
		}
			.about-logo .vcb-logo-part-1 {
				fill: #4d596f;
			}
			.about-logo .vcb-logo-part-2 {
				fill: #373c45;
			}
			.about-logo .vcb-logo-part-3 {
				fill: #79859c;
			}
		.about-thumb-content {
			font-size: 1.25em;
			line-height: 1.15em;
			width: 100%;
			display: block;
			position: absolute;
			text-align: center;
			z-index: 20;
			padding-top: 215px;
		}
			.about-thumb-content h2 {
				font-size: 2em;
				line-height: 1.25em;
				text-transform: uppercase;
			}
		.about-image-wrap {
			width: 250px;
			height: 250px;
			display: block;
			-ms-transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
			overflow: hidden;
			margin: 70px auto;
			background-color: #fff;
		}
			.about-image {
				width: 150%;
				height: 150%;
				display: block;
				background-size: cover;
				background-position: center center;
				-ms-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
				position: relative;
				left: -25%;
				top: -25%;
			}
	.about-content {
		display: table;
		width: 100%;
	}
		.about-personal {
			width: 50%;
			text-align: right;
			float: left;
			clear: left;
			padding-right: 5%;
		}
		.about-work {
			width: 50%;
			float: right;
			clear: right;
			padding-left: 5%;
		}
			.about-content h3 {
				font-size: 1.25em;
				line-height: 1.15em;
				margin-bottom: .4em;
			}










