/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	width: 100%;
	height: auto;
	display: block;
}
* {
	box-sizing: border-box;
}
/* end/ RESET */

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Bitter:400,700|Open+Sans:400,400i,700,700i');
/* end/ Fonts */

html, body {
	width: 100%;
	height: 100%;
	background-color: #f4f4f4;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
}

p {
	margin-bottom: .5em;
}

a {
	color: gold;
	-webkit-transition: background-color .3s, color .3s;
	transition: background-color .3s, color .3s;
}
	a:hover {
		color: red;
	}

.vcb-logo-part-1 {
	fill: #ebebeb;
}
.vcb-logo-part-2 {
	fill: #aaa;
}
.vcb-logo-part-3 {
	fill: #fff;
}

/* Menu */
nav {
	width: 100%;
	display: table;
	position: fixed;
	z-index: 50;
	background-color: rgba(255,255,255,.2);
}
	#nav-logo {
		width: 20%;
		max-width: 70px;
		padding: 8px;
		float: left;
	}
	#nav-links {
		padding-top: 2.1em;
		float: right;
	}
		#nav-links ul {

		}
			#nav-links ul li {
				display: inline-block;
			}
		#nav-links a {
			color: #777;
			text-transform: uppercase;
			padding: .3em 1em;
		}
			#nav-links a:hover {
				color: red;
			}

/* Section : things I do */
#things-i-do {
	width: 94%;
	max-width: 960px;
	margin: 0 auto;
	padding-top: 4em;
}
	.section-intro {
		width: 75%;
		margin: 0 auto;
		background-color: #ddd;
		padding: 6% 0 6% 16%;
		background: url("assets/images/title-things-i-do.png") no-repeat 5% center;
	}
	.main-services {
		width: 100%;
		margin-bottom: 4em;
	}
		.a-service {
			display: inline-block;
			width: 24%;
			padding: 0 2%;
			text-align: center;
		}
			.a-service-thumb {
				width: 50%;
				margin: 0 auto 1em;
			}
	.secondary-services {
		width: 94%;
		max-width: 640px;
		margin: 0 auto;
	}
		.sec-service {
			display: inline-block;
			width: 24%;
			padding: 0 2%;
			text-align: center;
		}
			.sec-service-thumb {
				width: 50%;
				margin: 0 auto 1em;
			}

#portfolio {
	width: 94%;
	max-width: 960px;
	margin: 0 auto;
	padding-top: 4em;
}
	.portfolio-button {
		width: 100%;
		text-align: center;
	}
		.portfolio-button a {
			background-color: teal;
			color: #fff;
			display: inline-block;
		}
	.portfolio-clients {
		width: 94%;
		max-width: 880px;
		margin: 3em auto 0;
		text-align: center;
	}
		.portfolio-clients-intro {
			width: 75%;
			margin: 0 auto 2em;
		}
		.portfolio-logos {
			width: 100%;
		}
			.portfolio-clients-thumb {
				width: 18%;
				margin: .5%;
				border: 1px solid #ddd;
				padding: 12px;
				display: inline-block;
			}

/* Portfolio Slider */

/* end/ Portfolio Slider */

#about-me {
	width: 94%;
	max-width: 620px;
	margin: 0 auto;
}
	.aout-intro {

	}
	.about-content {
		display: table;
		width: 100%;
	}
		.about-personal {
			width: 50%;
			text-align: right;
			float: left;
			clear: left;
			padding-right: 5%;
		}
		.about-work {
			width: 50%;
			float: right;
			clear: right;
			padding-left: 5%;
		}










